[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
	branch = main
[submodule "third_party/DeepGEMM_annotation"]
	path = third_party/DeepGEMM_annotation
	url = https://github.com/A-nnonymous/DeepGEMM_annotation.git
