*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

*.DS_Store
*.vs
build/
dist/
build_doc/
*.user
*.tmp
*.pyc
*.log
*.png

.vscode
.idea
.project
.cproject
.pydevproject
.settings/
CMakeSettings.json
.test_env/
.cache/
.env
third_party/
*~
bazel-*
codestyle/

*.egg-info
*.so

build_*
# clion workspace.
cmake-build-*
paddle/fluid/operators/distributed/send_recv.proto
model_test

Testing
tools/__pycache__
tools/nvcc_lazy
